@import "../../node_modules/bulma";

/*
div.modal-background {
  position:relative;
  width:100vw;
  height:100vh;
  background-color:rgba(10,10,10,0.46);
  z-index:2;
}

div.modal-content {
  position:absolute;
  top:400px;
  display:flex;
  justify-content: space-around;
}

html, body {
  margin:0;
  height:100vw;
  width:100vh;
  z-index:1;
}
*/
